body {
	background: url(../image/fancy-cushion.png);
	margin:0;
}

.main-block1{
	position: relative;
	height:480px;
}
  
.main-block2{
	width:320px;
	position: absolute;
        top: 5%;
        left: 50%;
        margin-right: -100%;
        transform: translate(-50%) ;	
		
}

.top-line{
	border:1px solid;
	width:auto;
	height:auto;
}

.headline{
	color:gold;
	font-family:Algerian;
	font-size:28px;
	text-align:center;
}

.menu{
	height:50px;
	padding:5px;
	padding-left:3.9em;
 }
 
 
 /*ссылки*/
 
 .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 2px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {  /*если нажали,то остается таким до reboot*/
    background-color: #3e8e41;
}


#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 12px;
    padding: 7px 10px 6px 10px;
    border: none;
    border-bottom: 1px solid #ddd;
	width:95px;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: relative;
    display: inline-block;
	float:left;
	
	height:auto;
	padding-left:0.2em;
	padding-right:0.2em;
	margin-left:0.3em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 10px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 1px 1px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/*ссылки*/

  

.message-block{
	min-height:90vh;
	background: white;
	padding-top:20px;
	padding-left:20px;
	padding-bottom:50px;
	border:1px solid;
	border-radius:3px;
}





















